<!doctype html>
<html xmlns="hhttp://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Conversions</title>
    <link rel="stylesheet" href= "conversionStyle.css">
  </head>
  <body>
    <div class="container">
      <h2> Converter </h2>  
      <div class="row1">     
        <label>Convert</label>
          <select>
            <option>Morse to Text</option>
            <option>Text to Morse</option>
          </select> 
      </div> 
      <div class="row2">  
        <div class="col col_left">         
          <textarea id="txta1"></textarea>
        </div>
        <div class="col col_mid">      
          <button id="conv" class="btn"> Convert </button> 
          <button id="clear" class="btn"> Clear </button>       
        </div>   
        <div class="col col_right">         
          <textarea readonly id="txta2"></textarea>
        </div> 
      </div> 
    </div>
  </body>
</html>
